/*{
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header" "songs songs";
  grid-gap: 10px;
}

.header {
  margin-right: 100px;
}*/
.spotifyButton {
  position: absolute;
  left: 220px;
}

.headerName {
  margin: 20px;
}

table,
th,
td {
  border: 10px solid #ffffff;
  padding: 8px;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  padding: 60px;
  text-align: center;
}

.show-grid {
  position: absolute;
  width: auto;
  left: 0%;
  padding: 10px;
}

.tableMusicSet {
  margin: 40px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
