.login {
  width: 50%;
  margin: auto;
  padding-top: 40px;
  background: #fff url("music.jpg") no-repeat bottom right fixed;
  background-size: 40%;
}

.page-header {
  font-family: "shrikhand";
  margin: auto;
  position: center;
  padding-bottom: 30px;
}

html {
}
