.show-grid {
  position: absolute;
  width: auto;
  left: 0%;
  padding: 10px;
}

#singlePlaylistofUserContent {
  padding: 10px;
}

.playlistHeader {
  margin-top: 30px;
  background: #f2f2f2;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px;
  padding: 15px;
}

.playlistBody {
  background: white;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 6px;
  padding: 0px;
}
.collectionsGrid {
  position: absolute;
  left: 20%;
}

.newCollectionButton {
  position: absolute;
  right: -25px;
}

.hiddenButton {
  position: absolute;
  right: 70px;
}

.hiddenTable {
  position: absolute;
  left: 99px;
  top: 320px;
}

#singlePlaylistofUserContent:hover {
  background-color: rgb(246, 243, 243);
}

#singlePlaylistofUserContent:active {
  background-color: rgb(220, 220, 220);
}

.selected {
  background-color: rgb(220, 220, 220);
}
