.show-grid {
  position: absolute;
  width: auto;
  left: 0%;
  padding: 10px;
}

.list {
  list-style-type: none;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  padding: 60px;
  text-align: center;
}

.tabel {
  margin: 15px;
}

.collectionsGrid {
  position: absolute;
  left: 20%;
}

tr {
  height: 30px;
  text-indent: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgb(0, 0, 0);
}
.newCollectionButton {
  position: absolute;
  right: 40px;
}

.hiddenButton {
  position: absolute;
  right: 70px;
}

.hiddenTable {
  position: absolute;
  left: 99px;
  top: 320px;
}
