.list {
  width: 250px;
  margin: 10px auto;
  padding: 0px;
}
.item {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  overflow: hidden;
  transform-origin: 30% 50% 0px;
  padding-left: 20px;
  background: rgb(235, 235, 235);
  max-height: 100%;
}
.item .dragHandle {
  visibility: visible;
  display: inline-block;
  top: 5;
  left: 0;
  cursor: move;
  width: 250px;
  height: 25px;
}
.item .dragHandle img:hover {
  cursor: pointer;
}
.item:hover .dragHandle,
.item.dragged .dragHandle {
  visibility: visible;
  margin: -10;
}
.item h2 {
  font-size: 12px;
  margin-top: 5px;
}
.item .subtitle {
  font-size: 10px;
  margin-left: 10px;
  margin-top: -12px;
  font-weight: bold;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
