li {
  list-style-type: none;
}

li:visited {
  background: rgb(220, 220, 220);
}

li:hover {
  background: rgb(246, 243, 243);
}
li:active {
  background: rgb(220, 220, 220);
}
a.current {
  background-color: #404d43;
}
