li {
  list-style-type: none;
}

li:hover {
  background-color: rgb(246, 243, 243);
  cursor: pointer;
}

li:active {
  background-color: rgb(220, 220, 220);
}

.selected {
  background-color: rgb(220, 220, 220);
}
